@font-face {
  font-family: "ClashGrotesk-Medium";
  src: url("./assets/fonts/ClashGrotesk-Medium.woff2") format("woff2"),
    url("./assets/fonts/ClashGrotesk-Medium.woff") format("woff"),
    url("./assets/fonts/ClashGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "ClashGrotesk-Semibold";
  src: url("./assets/fonts/ClashGrotesk-Semibold.woff2") format("woff2"),
    url("./assets/fonts/ClashGrotesk-Semibold.woff") format("woff"),
    url("./assets/fonts/ClashGrotesk-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
::-webkit-scrollbar {
  display: none;
}

@keyframes fadeIn {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

* {
  animation: fadeIn 0.8s ease-in-out;
}
* {
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
  font-family: "ClashGrotesk-Semibold";
}
img {
  display: block;
}
input {
  outline: none;
  border: none;
}
body {
  width: 100%; /* 100% от видимой ширины экрана */
  height: 100vh;
  background-color: #000000;
}
.loading-title {
  transform: translateY(160%);
  font-size: 36px;
  font-weight: 600;
  line-height: 44.28px;
  text-align: center;
  color: #fff;
  font-family: "ClashGrotesk-Semibold";
}

h2 {
  font-family: "ClashGrotesk-Semibold";
  font-size: 24px;
  font-weight: 700;
  line-height: 29.52px;
  text-align: center;
  color: #fff;
}
p {
  margin: 3% 0 5% 0;
  font-family: "ClashGrotesk-Semibold";
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #939393;
  text-align: center;
}
.daily-hr {
  margin-top: 0 !important;
}
hr {
  background-color: #fff;
  color: #fff;
  width: 100%;

  border-image-source: linear-gradient(
    90deg,
    #2d2d2d 100%,
    #2d2d2d 100%,
    #2d2d2d 100%,
    #2d2d2d 100%
  );
}

/* loading */
.loading-in {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("./assets/images/back.jpg");
  background-repeat: no-repeat; /* Prevents repetition of both images */
  background-position: center; /* Positioning for both images */
  background-size: cover, cover; /* Adjusts size for both images */
  flex-direction: column;
}
.loading-img {
  transform: translateY(-10%);
  width: 400px;
}
/* carusel */
.carusel-in {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url("/src/assets/images/3dBack.png");
  background-size: 100% 65%;
  background-repeat: no-repeat;
  background-position: top center;
}
.carusel-in__img {
  gap: 0px;
  height: 60%;
  border-radius: 0px 0px 30px 30px;
  opacity: 0px;
  position: relative;
  top: 0;
}
.carusel-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
  width: 98%;
}
.carusel-info__btn {
  padding: 10px;
  text-decoration: none;
  border: none;
  background-color: #fff;
  color: #1d1d21;
  border-radius: 30px;
  width: 98%;
  font-family: "ClashGrotesk-Medium";
  font-size: 22px;
  font-weight: 700;
  line-height: 29.52px;
  text-align: center;
  margin-bottom: 3%;
}
/* daily */

.toggle-btn-group {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 327px;
  background-color: #2d2d2d;
  border-radius: 30px;
  padding: 5px;
}
.toggle-btn {
  text-decoration: none; /* Убираем подчеркивание */
  color: inherit; /* Сохраняем цвет текста */
}
.toggle-btn {
  flex: 1;
  text-align: center;
  padding: 15px 0;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
  font-family: "ClashGrotesk-Medium";
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.active {
  background-color: #1d1d21;
  color: #a7fed9;
}

.inactive {
  background-color: transparent;
  color: #ccc;
}

/* daily */
.daily-in {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.daily-sub-title {
  margin: 7% 0 !important;
  padding: 0;
  font-family: "ClashGrotesk-Medium";
  font-size: 16px;
  font-weight: 400;
  line-height: 19.68px;
  letter-spacing: 0.02em;
  text-align: center;
  padding: 0;
}
.star-btn {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 65px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: center;
  span {
    font-family: sans-serif;
    margin-right: 6px;
  }
  img {
    margin-left: 6px;
    width: 30px;
  }
}

.ton-img {
  margin-left: 10px !important;
  width: 25px !important;
  height: 25px !important;
}
.ton-connect-btn {
  align-self: flex-end;
  visibility: hidden;
  position: absolute;
  top: 0;
  /* transform: translateY(70%) translateX(-45%); */
  width: 0;
  height: 0;
}
.task-list {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.task-list--item {
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.task-img {
  width: 25px;
  height: 25px;
  display: block;
  background-color: #d9d9d9;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 5%;
  border-radius: 50%;
}

.task-info {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.task-title {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #fff;
}
.task-text {
  width: 60%;
  text-align: left;
}

.task-day {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: left;
  color: #fff;
}

.task-btn {
  font-family: "ClashGrotesk-Medium";
  padding: 8px 15px;
  outline: none;
  border: none;
  text-decoration: none;
  font-size: 10px;
  border-radius: 999px;
  font-weight: 400;
  color: #a7fed9;
  background-color: #333333;
  line-height: 16px;
  letter-spacing: 0.01em;
}
.task-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.last-hr {
  margin-bottom: 30%;
}
/* home */
.home-in {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.user-img_name {
  display: flex;
  align-items: center;
  h3 {
    margin: 0;
    margin-left: 10px;
  }
}
.user-info {
  padding: 0 5%;
  width: 100%;
  margin: 5% 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
  gap: 2%;
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: block;
  }

  .infl {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 999;

    text-decoration: none;
    h3 {
      display: block;
      height: 25px;
      display: flex;
      align-items: center;
      margin: 0;
    }
  }
  .infl-img {
    position: relative;
    width: 25px; /* Ширина контейнера */
    height: 25px; /* Высота контейнера */
    display: flex;
    justify-content: center;
    margin-left: 5px;
    align-items: center;
    animation: pulseShadow 3s infinite linear;
  }
  .infl-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 29.52px;
    letter-spacing: 0.02em;
    text-align: left;
  }
  .infl-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @keyframes pulseShadow {
    0% {
      box-shadow: 0 0 10px rgba(167, 254, 217, 0.5),
        0 0 20px rgba(33, 51, 43, 0.5);
    }
    50% {
      box-shadow: 0 0 40px rgba(167, 254, 217, 1), 0 0 70px rgba(33, 51, 43, 1);
      transform: scale(1.1); /* Увеличение контейнера для эффекта пульсации */
    }
    100% {
      box-shadow: 0 0 10px rgba(167, 254, 217, 0.5),
        0 0 20px rgba(33, 51, 43, 0.5);
    }
  }

  h3 {
    font-family: "ClashGrotesk-Medium";
    font-size: 18px;
    font-weight: 500;
    line-height: 19.36px;
    letter-spacing: 0.005em;
    text-align: center;
    color: #fff;
    display: block;
  }
}
.user-profile-img {
  width: 40px;
  height: 40px;
  display: block;
  overflow: hidden;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-tokens {
  width: 100%;
  height: 400px;
  padding-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transform: translate(-50%, -70%);
  position: absolute;
  top: 50%;
  left: 50%;
}
.home-img {
  width: 250px;
  margin-bottom: 5%;
  h2 {
    font-size: 24px;
    font-weight: 600;
    line-height: 29.52px;
    letter-spacing: 0.02em;
    text-align: left;
  }
}
.green-btn {
  width: 90%;
  padding: 20px 0;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #a7fed9;
  font-size: 16px;
  align-self: center;
  position: absolute;
  z-index: 3;
  bottom: 18%;
  font-weight: 600;
  color: #1d1d21;
  line-height: 19.68px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #1d1d21;
}
.modal-title {
  color: #fff;
  text-align: center;
}

.blue-btn {
  width: 90%;
  padding: 20px 0;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: rgb(0, 255, 0);
  font-size: 16px;
  align-self: center;
  position: absolute;
  z-index: 3;
  bottom: 18%;
  font-weight: 600;
  color: #1d1d21;
  line-height: 19.68px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #1d1d21;
}
/* one time */

.task-btn-in-progress {
  background-color: transparent;
  position: relative;
}

.task-btn-in-progress .cross-icon {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite; /* Continuous rotation */
}

.cross-icon::before,
.cross-icon::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 2px;
  background-color: #ccc;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.cross-icon::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.task-btn-completed {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: default;
}

.task-btn-completed:disabled {
  cursor: not-allowed;
}

/* friends */
.friends-in {
  padding-top: 5%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  h2 {
    font-family: "ClashGrotesk-Semibold";
    font-size: 24px;
    font-weight: 700;
    line-height: 29.52px;
    text-align: center;
  }

  p {
    font-family: "ClashGrotesk-Medium";
    width: 95%;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.01em;
    text-align: center;
  }
}
.friends-btn {
  position: fixed;
  z-index: 3;
  bottom: 18%;
}
.friends-img {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 350px;
}
/* Стили для модального окна */

.custom-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: all 0.5s ease;
  z-index: 9999;
}

.custom-modal-content {
  background-color: #333;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  max-width: 350px;
  width: 100%;
  overflow: hidden;

  z-index: 9999;
  position: relative;
}

.custom-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-modal-header h3 {
  margin: 0;
  font-size: 18px;
  color: #fff;
}

.custom-close-btn {
  background: none;
  border: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

.custom-modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.modal-btn-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  button {
    margin-top: 3%;
  }
}

.custom-invite-btn {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 3%;
}

.custom-invite-btn i {
  margin-right: 10px;
}

.custom-icon-clipboard::before {
  content: "\1F4CB"; /* Иконка для clipboard */
}

.custom-icon-send::before {
  content: "\1F4E4"; /* Иконка для отправки */
}
.friends-btn {
  margin-top: 20px;
}
.friend-info {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}
.friend-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  overflow: hidden;
  margin-right: 10px;
  img {
    display: block;
  }
}
.friend-text {
  display: flex;
  width: 85%;
  align-items: center;
  justify-content: space-between;
}
.friend-list {
  width: 100%;
  padding: 0 3%;
  margin: 0;
  height: 100% !important;
  overflow: scroll !important;
  padding-bottom: 33%;
}
.friend-list--item:last-child {
  margin-bottom: 15%;
}
.friend-title {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: left !important;
  align-self: flex-start;
}
.con-status {
  display: flex;
  margin-top: 2%;
  align-items: flex-start;
  justify-content: flex-end;
  img {
    width: 22px;
    height: 22px;
    object-fit: cover;
  }
}
.friend-day {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: left;
}
.friend-h1 {
  transform: translateY(0);
  font-size: 24px;
  font-weight: 700;
  line-height: 29.52px;
  text-align: center;
  color: #fff;
}

.fixed-bottom {
  z-index: 100 !important;
}
.pump-img {
  width: 100%;
}
.pump-text-title {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 10%;
}
.pump-in {
  height: 69vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.pump-text {
  font-size: 32px;
  color: #fff;
  margin-top: 10%;
  font-weight: 600;
  line-height: 39.36px;
  text-align: center;
}
.d-none {
  display: none !important;
}
.recharts-default-legend {
  width: 100% !important;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.infl-box--prosent {
  display: flex;
  padding: 0 5%;
  margin: 0;
  margin-bottom: 6%;
  justify-content: space-between;
  flex: 3;
  flex-wrap: wrap;
  li {
    padding: 5px 15px;
    margin-top: 2%;
    margin-right: 1.5%;
    border: 2px solid rgba(45, 45, 45, 1);
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    font-weight: 300;
  }
}
.infl-text-box {
  width: 90%;
  margin: 6% auto;
  border-radius: 10px;
  height: 120px;
  background-color: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3%;
  p {
    font-size: 11px;
    font-weight: 400;
    line-height: 12.3px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #cccccc;
    font-family: Arial, Helvetica, sans-serif;
  }
}
.infl-in {
  padding-bottom: 26%;
}

.infl-box--prosent {
  margin-top: 20px;
  list-style-type: none;
  padding: 0 3%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.infl-box--prosent li {
  text-align: center;
}
.infl-box--prosent {
  margin-top: 20px;
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.infl-box--prosent li {
  text-align: center;
}

.infl-box--prosent {
  margin-top: 20px;
  list-style-type: none;
  padding: 0 3%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.infl-box--prosent li {
  text-align: center;
}

body {
  font-family: Helvetica, sans-serif;
}

.heading {
  text-align: center;
  margin-top: 50px;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.pie-wrap {
  width: 85%;
  height: 320px;
  margin: 10% 50px;
  position: relative;
  border-radius: 50%;
  color: black;
  overflow: hidden;
}

.pie-wrap .entry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px white;
}

.sky-blue {
  background-color: #f2ab02;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  justify-content: flex-start;
  width: 100%;
  p {
    position: absolute;
    font-size: 32px;
    color: #fff;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: center;

    left: 60px;
    bottom: 50px;
  }
}

.pink {
  background-color: #f0511e;
  height: 50%;
  position: absolute;
  cursor: pointer;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  transform: translateY(-50%) translateX(-10%);
  clip-path: polygon(50% 100%, 0 0, 100% 0);
}
.pink p {
  font-size: 22px;
  color: #fff;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.02em;
  text-align: center;
  transform: translateY(150%);
  left: 60px;
  bottom: 50px;
}
.purple {
  cursor: pointer;

  background-color: #0297d8;
  height: 50%;
  right: 0;
  width: 53%;
  top: 0;
  position: absolute;
  clip-path: polygon(10% 100%, 50% 0%, 300% 120%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25) !important;
  p {
    font-size: 22px;
    color: #fff;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-align: center;
    transform: translateY(150%) translateX(60%);
    bottom: 50px;
  }
}

.pie-wrap .purple p {
  position: absolute;
  top: 140px;
  color: white;
}

.pie-wrap .purple p:first-child {
  top: 120px;
}
.mini{
  font-size: 14px;
}